In [4]:
import geopandas

In [5]:
nyc_trees = geopandas.read_file("data/2015 Street Tree Census - Tree Data.geojson")

In [7]:
# TODO: Split up nyc_trees into bk_trees, mh_trees, queens_trees, si_trees, bronx_trees
# it took ~10 minutes to load this data into memory

In [8]:
nyc_trees.head()

,nta,health,zipcode,latitude,nta_name,state,trnk_wire,y_sp,brnch_othe,root_grate,...,address,sidewalk,root_other,created_at,borocode,block_id,trnk_light,tree_dbh,root_stone,geometry
0,QN17,Fair,11375,40.72309177,Forest Hills,New York,No,202756.768749,No,No,...,108-005 70 AVENUE,NoDamage,No,08/27/2015,4,348711,No,3,No,POINT (-73.84422 40.72309)
1,QN49,Fair,11357,40.79411067,Whitestone,New York,No,228644.837379,No,No,...,147-074 7 AVENUE,Damage,No,09/03/2015,4,315986,No,21,Yes,POINT (-73.81868 40.79411)
2,BK90,Good,11211,40.71758074,East Williamsburg,New York,No,200716.891267,No,No,...,390 MORGAN AVENUE,Damage,No,09/05/2015,3,218365,No,3,No,POINT (-73.93661 40.71758)
3,BK90,Good,11211,40.71353749,East Williamsburg,New York,No,199244.253136,No,No,...,1027 GRAND STREET,Damage,No,09/05/2015,3,217969,No,10,Yes,POINT (-73.93446 40.71354)
4,BK37,Good,11215,40.66677776,Park Slope-Gowanus,New York,No,182202.425999,No,No,...,603 6 STREET,Damage,No,08/30/2015,3,223043,No,21,Yes,POINT (-73.97598 40.66678)

In [10]:
nyc_trees.columns

Index(['nta', 'health', 'zipcode', 'latitude', 'nta_name', 'state',
       'trnk_wire', 'y_sp', 'brnch_othe', 'root_grate', 'tree_id', 'steward',
       'spc_common', 'trnk_other', 'x_sp', 'brnch_ligh', 'problems',
       'longitude', 'boro_ct', 'zip_city', 'spc_latin', 'stump_diam',
       'boroname', 'st_senate', 'user_type', 'status', 'brnch_shoe',
       'curb_loc', 'cncldist', 'guards', 'st_assem', 'cb_num', 'address',
       'sidewalk', 'root_other', 'created_at', 'borocode', 'block_id',
       'trnk_light', 'tree_dbh', 'root_stone', 'geometry'],
      dtype='object')

In [12]:
nyc_trees['borocode'].head()

0    4
1    4
2    3
3    3
4    3
Name: borocode, dtype: object

In [13]:
import geodatasets

boros = geopandas.read_file(geodatasets.get_path("nybb"))
boros.head()

,BoroCode,BoroName,Shape_Leng,Shape_Area,geometry
0,5,Staten Island,330470.010332,1.623820e+09,"MULTIPOLYGON (((970217.022 145643.332, 970227...."
1,4,Queens,896344.047763,3.045213e+09,"MULTIPOLYGON (((1029606.077 156073.814, 102957..."
2,3,Brooklyn,741080.523166,1.937479e+09,"MULTIPOLYGON (((1021176.479 151374.797, 102100..."
3,1,Manhattan,359299.096471,6.364715e+08,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
4,2,Bronx,464392.991824,1.186925e+09,"MULTIPOLYGON (((1012821.806 229228.265, 101278..."

In [14]:
# TODO join boros and nyc_trees on boros,BoroCode and nyc_trees,borocode

In [15]:
boros.crs

<Projected CRS: EPSG:2263>
Name: NAD83 / New York Long Island (ftUS)
Axis Info [cartesian]:
- X[east]: Easting (US survey foot)
- Y[north]: Northing (US survey foot)
Area of Use:
- name: United States (USA) - New York - counties of Bronx; Kings; Nassau; New York; Queens; Richmond; Suffolk.
- bounds: (-74.26, 40.47, -71.8, 41.3)
Coordinate Operation:
- name: SPCS83 New York Long Island zone (US Survey feet)
- method: Lambert Conic Conformal (2SP)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [17]:
nyc_trees.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [ ]:
# b